@media screen and (max-width: 1700px) and (min-width: 1100px) {
    .testimonial > h2 {
        line-height: 50px;
    }

    .testimonial {
        position: relative;
    }

    .testimonial > img {
        width: 16%;
        height: 16%;
    }

    .review {
        padding: 0 2.5vw;
        width: calc(530px - 5vw);
        height: 403px;
    }

    .customer__name {
        line-height: 25px;
    }
    
    .customer__speciality {
        line-height: 16px;
    }
    
    .info__message {
        line-height: 25px;
    }

    .pagination__point {
        height: 8px;
        width: 8px;
    }

    .circle-pink {
        width: 190px;
        height: 190px;
        right: calc(0% - (190px / 2));
        bottom: calc(0% - (190px / 2));
    }
}