@media screen and (max-width: 1700px) and (min-width: 1200px) {
    .hero-banner__title {
        line-height: 85px;
    }

    .button {
        line-height: 20px;
    }

    .button_square {
        width: 35px;
        height: 35px;
        line-height: 20px;
    }

    .field__value > img {
        width: 14px;
        height: 14px;
    }
}