.about-us {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    padding-left: 5vw;
    margin: 17vh 0;
    height: 834px;
    width: calc(100% - 5vw);
}

.circle {
    display: block;
    position: absolute;
    left: 0;
    top: 51%;
    width: 54px;
    height: 54px;

    border-radius: 50%;
    border: 8px solid #FF5B65;
    box-sizing: border-box;
}

.about__image {
    position: relative;
    width: 570px;
    height: 700px;
    background-image: url("../../icons/about-us/lighthouse.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.decoration {
    z-index: -1;
}

.image__square {
    position: absolute;
    top: calc(0% - (142px / (5 / 2)));
    right: calc(0% - (142px / (5 / 2)));
    width: 142px;
    height: 142px;

    background: #FFCA45;
    border-radius: 12px;
}

.image__shadow {
    position: absolute;
    width: 216px;
    height: 635px;
    top: calc(50% - (635px / 2));
}

.image__red-shadow {
    right: -2%;
    background: #FFCBC4;
    filter: blur(150px);
}

.image__blue-shadow {
    left: -7%;
    background: #D3E2FF;
    filter: blur(100px);
}

.image__circles {
    position: absolute;
    width: 170px;
    height: 170px;

    bottom: calc(0% - ((170px - 15px) / 2));
    left: calc(0% - ((170px - 15px) / 2));
}

.about__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    padding: 0 2.7vw 0 8vw;
    width: calc(60% - 10.7vw);
    height: 100%;
}

.about__text > h2 {
    font-family: 'Noto Serif JP', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;

    color: #2C2C2C;
}

.about__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 4vh;
}

.list__item {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.item__icon {
    display: flex;
    justify-content: center;
    height: 100%;
}

.icon__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50px;
    height: 50px;

    border-radius: 10px;
    transition: box-shadow .11s ease-out;
}

.icon__person > .icon__container {
    background: #ff715b;
}

.icon__planet > .icon__container {
    background: rgba(237, 250, 227, 1);
    box-shadow: 0px 10px 15px rgba(237, 250, 227, 0.25);
}

.icon__headphones > .icon__container {
    background: rgba(255, 248, 227, 1);
    box-shadow: 0px 10px 15px rgba(255, 248, 227, 0.25);
}

.icon__container > img {
    width: 55%;
    height: 55%;
}

.item__text {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-left: 2.5vw;
    margin-bottom: 6vh;

    border-bottom: 1px solid #f1e0dd;
}

.item__text > h3 {
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-family: 'Noto Serif JP', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 33px;
}

.item__description {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 26px;

    padding-bottom: 0; /* 3vh */
    height: 0;
    opacity: 0;

    color: #A79997;
}

.list__item:hover .item__description {
    padding-bottom: 3vh;
    height: fit-content;
    opacity: 1;
}

.list__item:hover .icon__person > .icon__container {
    box-shadow: 0px 10px 15px rgba(255, 113, 91, 0.25);
}

.list__item:hover .icon__planet > .icon__container {
    box-shadow: 0px 10px 15px rgba(237, 250, 227, 0.25);
}

.list__item:hover .icon__headphones > .icon__container {
    box-shadow: 0px 10px 15px rgba(255, 248, 227, 0.25);
}