@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;500;600;700;900&family=Noto+Serif:wght@400;700&display=swap');

/* font-family: 'Noto Serif', serif;
font-family: 'Noto Serif JP', serif; */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

/* font-family: 'Noto Serif', serif;
font-family: 'Open Sans', sans-serif; */

body {
    margin: 0;
    padding: 3vh 6.25vw;
    width: calc(1920px - 6.25vw*2);

    font-size: 16px;
}