/* font-family: 'Noto Serif', serif; */

/* font-family: 'Open Sans', sans-serif; */

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 3vh 6.25vw 0;
}

main > div {
    margin: 17vh 0;
}