nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    font-family: Noto Serif;
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    font-size: 1.125rem;
}

.nav__links {
    display: flex;
    flex-direction: row;
}

.nav__links > a {
    color: #000000;
    text-decoration: none;
    margin: 0 1vw;
}

.nav__links > a:hover {
    text-decoration: underline;
}

.nav__logo {
    height: 35px;
}

.tools__account {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.nav__tools {
    display: flex;
    flex-direction: row;
}

.tools__account > span {
    margin: 0 1vw;
}

.nav__tools svg {
    height: 25px;
    width: 20px;
}

.tools__search {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    margin: 0 .7vw;
    height: 35px;
    width: 30px;
    cursor: pointer;
}

.tools__search::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;

    height: 100%;
    width: 2px;
    border-radius: 10px;

    cursor: auto;
    background: rgba(241, 224, 221, 1);
}